.ui-fileupload-buttonbar {
  padding: .35em;
  border-bottom: 0 none;
}

button {
  margin: 4px;
}

.content-grid {
  margin: 15px;
}

mat-grid-tile {
  background: white;
  box-shadow: 5px 5px 10px #3f51b5;
}

.mat-grid-tile-content {
  top: 48px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.header {
  height: 57px;
}

.action-button {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

.header-title {
  float: left;
  margin: 20px;
}
