<div class="grid-container">
  <h1 class="mat-h1">Candidate Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="750px" gutterSize="13px" class="content-grid">

    <mat-grid-tile>
      <mat-grid-tile-header style="background: #3f51b5"> Add new candidate:</mat-grid-tile-header>
      <div class="dashboard-card-content">
        <candidate-add-component></candidate-add-component>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header style="background: #3f51b5"> Candidate list:</mat-grid-tile-header>
      <candidates-list-component class="mat-grid-tile-content"></candidates-list-component>
    </mat-grid-tile>

  </mat-grid-list>
</div>
