.page-content {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 300px;
  margin: 10px auto;
}

.registration-field {
  max-width: 100%;
  flex-direction: column;
  display: flex;
}

mat-icon {
  cursor: pointer;
}

mat-card-actions {
  margin-top: -35px;
}
