.option-button {
  margin: 4px;
}

.table-container {
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  bottom: 0;
  overflow: auto;
}

mat-table {
  overflow: auto;
  flex: 1;
}

.id-column {
  flex: 0 0 5%;
}

.filter-header {
  min-height: 44px;
  padding: 2px 24px 0;
}

.mat-form-field {
  width: 100%;
}

mat-row {
  cursor: pointer
}

mat-row:hover {
  background: aliceblue;
}

.option-cell {
  cursor: initial;
}
