.delete-button {
  margin: 5px;
}

.add-button {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.table-container {
  display: flex;
  flex-direction: column;
  max-height: inherit;
  min-width: 300px;
}
