<div class="table-container mat-elevation-z8">
  <div class="filter-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="candidatesDS">

    <ng-container matColumnDef="id">
      <mat-header-cell class="id-column" *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell class="id-column" *matCellDef="let candidate">{{candidate.id}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>FIRST NAME</mat-header-cell>
      <mat-cell *matCellDef="let candidate">{{candidate.firstName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>LAST NAME</mat-header-cell>
      <mat-cell *matCellDef="let candidate">{{candidate.lastName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>EMAIL</mat-header-cell>
      <mat-cell *matCellDef="let candidate">{{candidate.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef>POSITION</mat-header-cell>
      <mat-cell *matCellDef="let candidate">{{candidate.position}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="attachments">
      <mat-header-cell *matHeaderCellDef>ATTACHMENTS</mat-header-cell>
      <mat-cell *matCellDef="let candidate">
        <button mat-mini-fab
                class="option-button"
                color="secondary"
                *ngFor="let attachment of candidate.attachments"
                (click)="$event.stopPropagation(); downloadFile(attachment.id)"
                [matTooltip]="attachment.name">
          <mat-icon>get_app</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operations">
      <mat-header-cell align="center" *matHeaderCellDef></mat-header-cell>
      <mat-cell align="center" *matCellDef="let candidate" (click)="$event.stopPropagation()">
        <button class="option-button" mat-mini-fab color="warn" (click)="deleteUser(candidate)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>

    <mat-row *matRowDef="let rowData; columns: columnsToDisplay" [routerLink]="['/candidate-edit', rowData.id]"></mat-row>

  </mat-table>

</div>

<a mat-raised-button color="accent" class="add-button" [routerLink]="['/candidate-add']">
  <mat-icon>add</mat-icon>
</a>

