.comment-input {
  width: 100%;
  margin: 7px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 1px 1px 8px #3f51b5;
  border-radius: 8px;
}

.add-comment-grid {
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
}

textarea {
  resize: none;
}

.comment-button {
  margin-right: 7px;
}

.upload-date-column {
  flex: 1;
  max-width: 110px
}

.comment-table {
  width: 100%;
  height: 264px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: scroll;
}

.comment-section {
  box-shadow: 1px 1px 5px #3f51b5;
  margin: -5px 10px 10px 20px;
  border-radius: 8px;
  height: auto;
  white-space: pre-wrap;
}

.comment {
  margin-top: 10px;
  margin-bottom: 10px;
}
