.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;

/*> *:not(router-outlet) {*/
  /*flex: 1;*/
  /*display: block;*/
/*}*/

}

.footer {
  height: 30px;
}

.footer-text {
  flex: 1 1 auto;
  text-align: right;
  font-size: small;
}
