<div class="page-wrap">
  <header role="banner">
    <mat-toolbar color="primary">
      <button
        type="button"
        mat-icon-button
        (click)="sidenav.toggle()"
        title="Open menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span> Welcome to RecruitMe </span>
      <span class="toolbar-spacer"></span>
      <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </header>
  <main class="content">
    <mat-sidenav-container class="all-wrap">
      <mat-sidenav #sidenav mode="push">
        <mat-list (click)="sidenav.close()">
          <mat-list-item [routerLink]="['/']"> Home</mat-list-item>
          <mat-list-item [routerLink]="['/candidate-list']"> Candidates</mat-list-item>
        </mat-list>
      </mat-sidenav>
      <router-outlet></router-outlet>
    </mat-sidenav-container>
  </main>
  <footer>
    <mat-toolbar color="primary" class="footer">
      <span class="footer-text">Taras Danylchuk copyright. 2018. All rights reserved.</span>
    </mat-toolbar>
  </footer>
</div>
