<mat-grid-list cols="2" rowHeight="600px" gutterSize="13px" class="content-grid">

  <mat-grid-tile>
    <mat-grid-tile-header style="background: #3f51b5">Details:</mat-grid-tile-header>

    <div fxLayout="row wrap" fxLayoutAlign="space-around" class="details-content">

      <div fxFlex="50%" class="field" fxLayoutAlign="end">Name  <mat-icon>person</mat-icon>:</div>
      <div fxFlex="50%" class="field-value">{{user.firstName}} {{user.lastName}}</div>

      <div fxFlex="50%" class="field" fxLayoutAlign="end">Email  <mat-icon>email</mat-icon>:</div>
      <div fxFlex="50%" class="field-value">{{user.email}} </div>

      <div fxFlex="50%" class="field" fxLayoutAlign="end">Role  <mat-icon>verified_user</mat-icon>:</div>
      <div fxFlex="50%" class="field-value">{{user.role}} </div>

      <div fxFlex="50%" class="field" fxLayoutAlign="end">Registration date  <mat-icon>date_range</mat-icon>:</div>
      <div fxFlex="50%" class="field-value">{{user.registrationDate | date}} </div>

    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-grid-tile-header style="background: #3f51b5">Activity:</mat-grid-tile-header>
    <mat-list>
      <mat-list-item *ngFor="let activity of activities">
        <mat-icon mat-list-icon>{{activityService.getIcon(activity.type)}}</mat-icon>
        <h4 mat-line>{{activityService.getMessage(activity.type)}} <a
          [routerLink]="['/'+ activityService.getTargetEndpoint(activity.type), activity.targetId]">{{activityService.getTargetName(activity.type)}}</a></h4>
        <p mat-line> {{activity.addedDate | date : "short"}} </p>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

</mat-grid-list>
