<form role="form" #loginForm="ngForm" (submit)="login()">

  <div class="page-content">
    <mat-card class="content">

      <mat-card-content>

        <mat-form-field class="field">
          <input matInput type="text" required email
                 placeholder="Email" #email name="email"
                 (change)="resetErrorMessage()"
                 [(ngModel)]="credentials.username"/>
          <mat-error *ngIf="!email.valid">Not a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="field">
          <input matInput required
                 placeholder="Password"
                 [type]="hidePassword ? 'password' : 'text'"
                 (change)="resetErrorMessage()"
                 #password
                 name="password"
                 [(ngModel)]="credentials.password"/>
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="!password.valid">Enter password</mat-error>
        </mat-form-field>

        <mat-error #formErrorMessage>{{errorMessage}}</mat-error>
      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        <button mat-raised-button color="primary" [routerLink]="['/register']">Register</button>
      </mat-card-actions>

    </mat-card>

  </div>
</form>
