.ui-fileupload-buttonbar {
  padding: .35em;
  border-bottom: 0 none;
}

mat-list-item {
  padding: 15px;
}

.mat-grid-content {
  position: absolute;
  left: 10px;
  top: 60px;
}

button {
  margin: 4px;
}

.content-grid {
  margin-left: 10px;
  margin-right: 10px;
}

mat-grid-tile {
  background: white;
  box-shadow: 5px 5px 20px grey;
}

.action-buttons {
  margin-left: 10px;
  margin-top: 10px;
}
