<div class="container">
  <form #candidateForm="ngForm" (ngSubmit)="save(candidateForm.value)">

    <h2 mat-subheader>{{candidate.id ? 'Edit' : 'Add'}} Candidate</h2>

    <mat-grid-list cols="3" rowHeight="400px">
      <mat-grid-tile>
        <mat-grid-tile-header> Fill candidate data:</mat-grid-tile-header>

        <mat-list class="mat-grid-content">
          <input type="hidden" name="href" [(ngModel)]="candidate.href">

          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="First Name" [(ngModel)]="candidate.firstName"
                     required name="firstName" #firstName>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Last Name" [(ngModel)]="candidate.lastName"
                     required name="lastName" #lastName>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="candidate.email"
                     required email name="email" #email>
              <mat-error *ngIf="!email.valid">Not a valid email</mat-error>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-form-field>
              <input matInput placeholder="Position" [(ngModel)]="candidate.position"
                     required name="position" #position>
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header> Manage attachments:</mat-grid-tile-header>
        <mat-list class="mat-grid-content">
          <h3 mat-subheader>Attachments</h3>
          <mat-list-item *ngFor="let attachment of candidate._embedded?.attachments">
            <mat-icon mat-list-icon>attach_file</mat-icon>
            <h4 mat-line>{{attachment.name}}</h4>
            <p mat-line> {{attachment.uploadDate | date}} </p>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header> Upload new attachments:</mat-grid-tile-header>
        <div class="mat-grid-content">
          <p-fileUpload
            [showUploadButton]="true"
            name="files"
            [url]="attachmentService.getUploadUrl()"
            multiple="true"
            maxFileSize="1000000"
            (onBeforeUpload)="onBeforeUpload($event)">
          </p-fileUpload>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <button mat-raised-button color="primary" type="submit"
            [disabled]="!candidateForm.valid">Save
    </button>
    <button mat-raised-button color="secondary" mat-button routerLink="/candidate-list"
            type="button">Cancel
    </button>

  </form>
</div>
