<div class="comment-table">
  <mat-list class="comments-list">
    <ng-container *ngFor="let comment of comments">

      <h3 mat-subheader><b>{{comment.author.firstName}} {{comment.author.lastName}}</b>　wrote on {{comment.addedDate | date : "short"}}:
      </h3>

      <mat-list-item class="comment-section">
        <div class="comment">{{comment.content}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

    </ng-container>
  </mat-list>
</div>

<mat-grid-list cols="9" class="add-comment-grid" rowHeight="48px">
  <mat-grid-tile [colspan]="8" [rowspan]="2">
    <mat-form-field class="comment-input">
        <textarea matInput
                  #commentInput
                  placeholder="Leave a comment"
                  rows="2"
                  value=""
                  (keyup.enter)="postComment(commentInput.value); commentInput.value=''">
        </textarea>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile class="comment-button">
    <button mat-raised-button [disabled]="!commentInput.value"
            color="primary"
            aria-label="Send"
            type="submit"
            (click)="postComment(commentInput.value); commentInput.value=''">
      <mat-icon>send</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile class="comment-button">
    <button mat-raised-button [disabled]="!commentInput.value"
            color="warn"
            aria-label="Clear"
            (click)="commentInput.value=''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

