<div>
  <form #candidateForm="ngForm" (ngSubmit)="candidateForm.form.markAsPristine(); save(candidateForm.value);">

    <mat-card class="content">

      <mat-card-content>
        <input type="hidden" name="href" [(ngModel)]="candidate.href">

        <mat-form-field appearance="outline">
          <mat-label>First name:</mat-label>
          <input matInput placeholder="First name" [(ngModel)]="candidate.firstName"
                 required name="firstName" #firstName>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last name:</mat-label>
          <input matInput placeholder="Last name" [(ngModel)]="candidate.lastName"
                 required name="lastName" #lastName>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email:</mat-label>
          <input matInput placeholder="Email" [(ngModel)]="candidate.email"
                 required email name="email" #email>
          <mat-error *ngIf="!email.valid">Not a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Position:</mat-label>
          <input matInput placeholder="Position" [(ngModel)]="candidate.position"
                 required name="position" #position>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions align="right">
        <button class="save-button" mat-raised-button color="primary" type="submit"
                [disabled]="!candidateForm.valid || candidateForm.pristine">Save
        </button>
      </mat-card-actions>

    </mat-card>
  </form>

</div>
